.jumbotron {
  text-align: center;
  background-color: rgb(104, 184, 139);
}

#jumbotron {
  font-size: 300%;
}

#delete {
  color: red;
}

.button {
  margin-top: 3%;
  width: 100%;
}

.stick {
  position: fixed;
  width: 33vw;
  right: 11vw;
}