@{
  Layout = "_Layout";
}

<div class="form-group text-center w-25 m-auto">
  <form action="/stylist/create" method="post">
    <label class="form-label" for="Name">Stylist Name:</label>
    <input class="form-control" type="text" name="Name" id="Name">
    <br>
    <label class="form-label" for="StyleType">Service provided:</label>
    <input class="form-control" type="text" name="StyleType" id="StyleType">
    <br>
    <button class="form-control btn btn-success" type="submit">Add Stylist</button>
    <a class="button btn btn-info" href="/stylist">See all Stylists</a>
  </form>
</div>